eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka #Para probar Local. http://eureka-service:8761/eureka para contenedor.
  instance:
    lease-renewal-interval-in-seconds: 10

info:
  app:
    description: Config Server registerd in Eureka Server
    name: config-service
    version: 1.0.0

server:
  port: ${PORT:8888}

spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        git:
          uri: https://github.com/GregoM7/Movies-Microservices